@model IEnumerable<MarketPrice.Models.Commodity>

@{
    ViewBag.Title = "Commodities";
    Layout = null;
}

<h2>Commodities</h2>

<p>
    @Html.ActionLink("Create New", "EditCommodity")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitOfSale)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitOfSale)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCommodity", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
